#defend, #deckback, #background, #attack {
    display: none;
}



#center-div {
    background: black;
    height: 100%;
    margin: 0;
    text-align: center;
    color: white;
}

body {
    margin: 0px;
}


#leaderboard {
        display: none;
        align-items: center;
    position: relative;
    bottom: 50%;
    justify-content: center;
}

#submitButton {
    width: 50px;
    height: 50px;
}

#input {
    width: 200px;
    height: 50px;
    font-size: 26px;
}

.icons {
    width: 250px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.footer {
    display: flex;
    justify-content: center;
}

.footer-mid {
    display: flex;
    justify-content: space-between;
    width: 700px;
}

.ui-sound {
    margin-top: 20px;
}

.sound-controls {
    display: flex;
}

#mute {
    position: relative;
    top: 10px;
    left: 10px;
}