#defend, #deckback, #background, #attack {
    display: none;
}


#game-canvas {
    /* background: url("https://wiki.mabinogiworld.com/images/9/98/Alby_Hardmode_Room.png") */
    background-image: url("./assets/forest2.jpg");
    /* width: 1000px; */
    /* object-fit: fill; */
    
}

#center-div {
    background: black;
    height: 100%;
    margin: 0;
    text-align: center;
    color: white;
}

body {
    margin: 0px;
}

